= render_partial 'common'

%label Walls
%select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: walls'}}
%label Ceilings
%select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: ceilings'}}
%label Floor Coverings
%select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: floors'}}
%label Windows
%select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: windows'}}
%label Electrical Fittings
%select{class: 'condition', data: {bind: 'options: $parent.generalCondition, value: electrical'}}

%label General Comments
%textarea{data: {bind: 'value: comments'}}
