= render_partial 'common'

%label Walls
%textarea{data: {bind: 'value: walls'}}
/ %label Ceilings
/ %textarea{data: {bind: 'value: ceilings'}}
/ %label Floor Coverings
/ %textarea{data: {bind: 'value: floors'}}
/ %label Windows
/ %textarea{data: {bind: 'value: windows'}}
/ %label Electrical Fittings
/ %textarea{data: {bind: 'value: electrical'}}