#navigation
  %a.previous{data: {bind: 'click: previousPage, css: {invisible: !canPrevious()}'}}
  %a.camera{data: {bind: 'click: capture, css: {invisible: !canCapture()}'}}
  %a.next{data: {bind: 'click: nextPage, css: {invisible: !canNext()}'}}