@import 'fonts';

$footerHeight: 60px;

$baseHeaderSize: 220%;

body {
  font-family: 'Helvetica Neue', 'Helvetica';

  margin-left: 0px;
  margin-right: 0px;

  font-size: 1.3em;
}

html, body {
  height: 100%;
}

#container {
  padding-left: 10px;
  padding-right: 10px;

  padding-bottom: $footerHeight + 20px;
}

#navigation {
  position: fixed;
  bottom: 0;
  height: $footerHeight;
  width: 100%;
}

#header {
  .room-type {
    display: inline-block;
  }
}

h1, h2, h3, h4 {
  font-family: 'Fucked Olympia J Perished';
  font-weight: normal;
  margin: 5px 0px;
}

h1 {
  font-size: $baseHeaderSize;
}

h2 {
  font-size: $baseHeaderSize * 0.8;
}

h3 {
  font-size: $baseHeaderSize * 0.7;
}

h4 {
  font-size: $baseHeaderSize * 0.6;
}

h6 {
  font-size: $baseHeaderSize * 0.5;
}

}

.condition {
  width: 98%;
}

.photos {
  margin: 10px 5px;

  .photo {
    height: 150px;
    cursor: pointer;
  }
}

#current-photo {
  text-align: center;

  img {
    margin-top: 10px;
    max-height: 60%;
    max-width: 90%;
  }
}

.invisible {
  visibility: hidden;
}

#navigation {
  text-align: center;
  vertical-align: center;

  background-color: black;
  color: white;

  z-index: 10;

  a:active {
    opacity: 0.6;
    cursor: pointer;
  }

  .camera, .previous, .next {
    display: inline-block;

    width: 45px;
    height: 45px;

    background-size: 100%;

    margin-top: 8px;

    background-repeat: no-repeat;
  }

  .previous, .next {
    margin-left: 10%;
    margin-right: 10%;
  }

  .camera {
    margin-left: 5%;
    margin-right: 5%;
  }

  .camera {
    background-image: url('../images/icon-camera.png');
  }

  .previous {
    background-image: url('../images/arrow-left.png');
  }

  .next {
    background-image: url('../images/arrow-right.png');
  }
}