!!!

%head
  %title Photospike

  %script{type: 'text/javascript', src: 'js/lib/cordova-2.1.0.js'}
  %script{type: 'text/javascript', src: 'js/lib/knockout-2.1.0.js'}
  %script{type: 'text/javascript', src: 'js/lib/jquery-1.8.2.min.js'}
  %script{type: 'text/javascript', src: 'js/lib/jquery.mobile.custom.min.js'}
  %script{type: 'text/javascript', src: 'js/camera.js'}
  %script{type: 'text/javascript', src: 'js/viewmodels.js'}
  %script{type: 'text/javascript', src: 'js/main.js'}

  %link{rel: 'stylesheet', type: 'text/css', href: 'styles/application.css'}
  %link{rel: 'stylesheet', type: 'text/css', href: 'styles/jquery.fancybox.css'}

  = render_partial 'templates'

%body
  #container
    #currentPage{data: {bind: 'template: {name: templateSelector, data: currentPage}'}}

  = render_partial 'navigation'